
#vklucheno_v_sumu{
    position: relative;
    margin-top: 3%;
}

#head_vklucheno_v_sumu{
    background-color: chartreuse;
}

#min_zakaz{
    position: relative;
    background-color: chartreuse;
}

#head_min_zakaz{
    background-color: chartreuse;
}

.suma_zakaza{
    font-size: x-large;
}

#zakaz{
    margin-top: 1%;
    position: relative;
}