<div class="modal">

    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title" style="text-align: center">Тут</h1>
        <button class="button icon ion-arrow-right-c">Вперед</button>
    </ion-header-bar>

    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Ширина</span>
                    <input type="text" placeholder="1000">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Высота</span>
                    <input type="text" placeholder="2000">
                </label>
            </div>
        </form>
    </ion-content>

</div>