<div class="modal">
<ion-pane>

    <ion-header-bar class="bar bar-header bar-light" style="background-color: #233c7f;">
            <button class="back_button" ng-click="closeTask()">
                <i class="ion-arrow-left-a" style="font-size: 20px; vertical-align: middle"></i>
            </button>
        <div>
            <h3 class="title" style="text-align: center; left: 0px; color: #ffffff">Дополнительные елементы</h3>
        </div>
    </ion-header-bar>

    <ion-content ng-controller="pricelast" >

<form ng-submit="openTask(array1, array2, array3, array4, array5)">
            <label class="item item-input item-select">
                <div class="input-label">
                    Количество углов, шт:
                </div>
                <select ng-model="array1" >
                    <option ng-repeat="i in array1" value="{{i.value}}">{{i.name}}</option>
                </select>
            </label>



            <label class="item item-input item-select">
                <div class="input-label">
                    Крепление светильника, шт:
                </div>
                <select ng-model="array2">
                    <option ng-repeat="i in array2" value="{{i.value}}">{{i.name}}</option>

                </select>
            </label>



            <label class="item item-input item-select">
                <div class="input-label">
                    Крепление люстры (потолочное),<br> шт:
                </div>
                <select ng-model="array3">
                    <option ng-repeat="i in array3" value="{{i.value}}">{{i.name}}</option>

                </select>
            </label>


            <label class="item item-input item-select">
                <div class="input-label">
                    Крепление люстры (крючковое),<br> шт:
                </div>
                <select ng-model="array4" >
                    <option ng-repeat="i in array4" value="{{i.value}}">{{i.name}}</option>

                </select>
            </label>



            <label class="item item-input item-select">
                <div class="input-label">
                    Криволинейные участки, м:
                </div>
                <select ng-model="array5" >
                    <option ng-repeat="i in array5" value="{{i.value}}">{{i.name}}</option>

                </select>
            </label>



            <label class="item item-input item-select">
                <div class="input-label">
                    Окантовка труб, шт:
                </div>
                <select ng-model="array6" >
                    <option ng-repeat="i in array6" value="{{i.value}}">{{i.name}}</option>
                </select>
            </label>


        <div class="next">
            <button class="button button-light" style="background-color: #233c7f; color: #ffffff">
                Далеe
            </button>
        </div>


</form>

    </ion-content>

    <ion-footer-bar>
        <div class="bar bar-footer bar-light" style="background-color: #233c7f;">
            <div class="title" style="color: #ffffff"><a href="http://astam.ru/moskva/" style="text-decoration: none">&copy;AstaM 2015</a></div>
        </div>
    </ion-footer-bar>
</ion-pane>
</div>