<div class="modal" >

<ion-pane>
    <ion-header-bar class="bar bar-header bar-light" style="background-color: #233c7f;">

            <button class="back_button" ng-click="closeTask()">
                <i class="ion-arrow-left-a" style="font-size: 20px; vertical-align: middle"></i>
            </button>
            <h1 class="title" style="text-align: center; left: 0px; color: #ffffff"> Стоимость потолка</h1>

    </ion-header-bar>

    <ion-content ng-controller="mainController">
        <div class="list" class="vklucheno_v_sumu" style="padding-top: 0px">
            <div class="item item-divider" style="text-align: center">
                Параметры заказа:
            </div>

            <!-- perimetr -->
            <a class="item" href="#">
                <i  class="ion-checkmark-round" style="font-size: small"></i> Периметр: {{perimetr}}
            </a>

            <!-- S -->
            <a class="item" href="#">
                <i class="ion-checkmark-round" style="font-size: small"></i> Площадь: {{area}}
            </a>

            <!-- material -->
            <a class="item" href="#">
                <i class="ion-checkmark-round" style="font-size: small"></i> Материал: {{materials}}
            </a>

            <!-- maskirovochnu baget -->
            <a class="item" href="#">
                <i class="ion-checkmark-round" style="font-size: small"></i> Вставка: {{vstavkaBagetView}}
            </a>
        </div>


        <div class="suma_zakaza" style="text-align: center;">
            Стоимость: {{costss}} руб.
        </div><br>
        <div style="text-align: center">
            <input type="email" placeholder="Email" ng-model="email" style=" margin: 0px auto;">
            <input type="tel" placeholder="Tel" ng-model="tel" style=" margin: 0px auto; margin-top: 15px">

            <button class="button button-light" ng-click="submit(email, tel, cost)" style="margin-top: 10px;background-color: #233c7f; color: #ffffff">
                Отправить
            </button>
        </div>
    </ion-content>

    <ion-footer-bar>
        <div class="bar bar-footer bar-light" style="background-color: #233c7f">
            <div class="title" style="color: #ffffff;"><a href="http://astam.ru/moskva/" style="text-decoration: none">&copy;AstaM 2015</a></div>
        </div>
    </ion-footer-bar>
</ion-pane>
</div>