.sel_1{
    width: 90%;
    padding: 10px; /* Поля вокруг текста */
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #233c7f;
}

.center{
    text-align: center;
}



