body{
   color:  #233c7f;
}
html {
    font-size:100%;
    color: #233c7f;
}

.list{
    position: relative;
    padding-top:45px;
    font-family:sans-serif;
}
.input-label{
    font-size: 1.10rem;
    color: #233c7f;

}
.material{
    text-align: center;
    padding-top: 30px;
    font-size: 1.50rem;
    color: #233c7f;
}
.next{
    text-align: center;
    padding-top: 10px;
}
.back_button{
    background: none;
    border: none;
    color: #ffffff;
}
.option_select{
    font-family:sans-serif;
}
.content_center{
    padding-left: 10px;
    padding-right: 10px;
}

.item-text-wrap{
    position: relative;
}

